<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AudioSwitcher.AudioApi" version="4.0.0-alpha5" targetFramework="net472" />
  <package id="AudioSwitcher.AudioApi.CoreAudio" version="4.0.0-alpha5" targetFramework="net472" />
  <package id="NAudio" version="1.9.0" targetFramework="net472" />
</packages>